build/
target/
dist/
.deps/
.ota-keys/
.sites-bin/
.sites-publish/
.device-verify/
bouffalo_sdk_ds5/
*.o
*.a
*.elf
*.map
*.bin
*.ota
*.xz.ota
*.tar.gz
*.zip
*.log
__pycache__/
*.pyc
.DS_Store
*.code-workspace
